{% extends "django_schema_browser/base.html" %}
{% load django_schema_browser_i18n %}

{% block title %}
    {% btrans "[Models of %(app_name)s]" app_name=app.name %}
{% endblock title %}

{% block content %}
    <h1>{{ app.name }}</h1>
    <p class="meta">{{ app.description }}</p>
    <p class="meta">
        {% btrans "[Module: %(module_name)s]" module_name=app.module %}
    </p>

    {% if models %}
        <table>
            <thead>
            <tr>
                <th>{% btrans "[Model]" %}</th>
                <th>{% btrans "[Description]" %}</th>
                <th>{% btrans "[Fields]" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for model in models %}
                <tr>
                    <td>
                        <a href="{% url 'django_schema_browser:model_detail' app.label model.model_name %}">
                            {{ model.name }}
                        </a>
                    </td>
                    <td>{{ model.description }}</td>
                    <td>{{ model.fields_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="empty">{% btrans "[This application has no model.]" %}</p>
    {% endif %}
{% endblock content %}
