{% extends "django_schema_browser/base.html" %}
{% load django_schema_browser_i18n %}

{% block title %}
    {% btrans "[Details of %(current_model)s]" current_model=model_label %}
{% endblock title %}

{% block content %}
    <h1>{{ model_label }}</h1>
    <p class="meta">{{ description }}</p>

    <h2>{% btrans "[Model fields]" %}</h2>
    {% if fields %}
        <table>
            <thead>
            <tr>
                <th>{% btrans "[Name]" %}</th>
                <th>{% btrans "[Type]" %}</th>
                <th>{% btrans "[Description]" %}</th>
                <th>{% btrans "[Relation]" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for field in fields %}
                <tr id="field-{{ field.name }}">
                    <td><code>{{ field.name }}</code></td>
                    <td>{{ field.type }}</td>
                    <td>{{ field.description }}</td>
                    <td>
                        {% if field.is_relation %}
                            <a href="{% url 'django_schema_browser:model_detail' field.related_target.app_label field.related_target.model_name %}">
                                {{ field.related_target.label }}
                            </a>
                        {% else %}
                            {% btrans "[None]" %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="empty">{% btrans "[No exposed field.]" %}</p>
    {% endif %}
    <br><br>
    <h2>{% btrans "[Reverse relations]" %}</h2>
    {% if reverse_relations %}
        <table>
            <thead>
            <tr>
                <th>{% btrans "[Reverse field]" %}</th>
                <th>{% btrans "[Type]" %}</th>
                <th>{% btrans "[Source model]" %}</th>
                <th>{% btrans "[Description]" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for relation in reverse_relations %}
                <tr>
                    <td>
                        <a href="{% url 'django_schema_browser:model_detail' relation.source_target.app_label relation.source_target.model_name %}#field-{{ relation.source_field_name }}">
                            {{ relation.source_model_label }}.{{ relation.source_field_name }}
                        </a>
                    </td>
                    <td>{{ relation.type }}</td>
                    <td>{{ relation.source_model_label }}</td>
                    <td>{{ relation.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="empty">{% btrans "[No reverse relation.]" %}</p>
    {% endif %}
{% endblock content %}
